<div class="w-screen h-screen bg-gradient-to-r pt-3 from-yellow-200 to-yellow-400 relative ">
    <!-- <img src="../../assets/abc" alt=""> -->
    <!-- <div class="">Rotten Potatoes</div> -->
    <!-- <div>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eius et voluptate atque perferendis deserunt aliquam error at ipsa, enim saepe. Ut voluptatibus laboriosam, dignissimos omnis quisquam et ad, debitis suscipit impedit amet deleniti cupiditate vel quae soluta consequatur repellat obcaecati sunt minima blanditiis modi laborum.</div> -->

    <div class="bg-white w-1/4 h-[240px] flex flex-col justify-center gap-6 m-auto p-3 shadow-lg rounded-md ">
        <div class="w-full">
            <label for="uname" >Username</label><br>
            <input type="text" name="uname" class="border w-full" [(ngModel)]="username" />
        </div>
        <div class="w-full">
            <label for="pward">Password</label><br>
            <input type="password" name="pword" class="border w-full" [(ngModel)]="password"/>
        </div>
        <div class="relative">
            <div class="text-red-500 absolute -top-6">{{errorMsg}}</div>
            <button class="btn btn-dark" (click)="login()">Login</button>
        </div>
    </div>
</div>
